@import "tailwindcss";
*{
    scroll-behavior: smooth;
}
.heading{
    font-family: 'Major Mono Display';
    transition: 0.5s;
    transform: translateY(1rem);
    will-change: transform auto;
    &:hover{
        font-weight: 900;
        /* transform: translateY(2rem); */
        padding: 2rem 0;
        letter-spacing: 1rem;
    }
}
.npmrun{
    transition: 0.2s;
    font-family: Consolas, 'Courier New', monospace;
    &:hover{
        transform: translateY(-5px);
        box-shadow: 0px 10px 30px -10px rgba(255,255,255,1);
        -webkit-box-shadow: 0px 10px 30px -10px rgba(255,255,255,1);
        -moz-box-shadow: 0px 10px 30px -10px rgba(255,255,255,1);
    }
    &:active{
        transform: translateY(0);
        box-shadow: 0px 10px 30px -10px transparent;
        -webkit-box-shadow: 0px 10px 30px -10px transparent;
        -moz-box-shadow: 0px 10px 30px -10px transparent;
    }
}
.poppins{
    font-family: poppins    ;
}
.display-none{
    @media (width <= 1120px) {
        display: none !important;
    }
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.arrowImg{
    animation: float infinite 4.5s;
}
.blur {
      view-timeline-name: --fade-blur;
      view-timeline-axis: block;
      animation-name: fadeBlurIn;
      animation-fill-mode: both;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-timeline: --fade-blur;
      animation-range: entry 50% cover 30%;
}

@keyframes fadeBlurIn {
from {
    opacity: 0;
    filter: blur(12px);
    transform: translateY(40px);
}
to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
}